// .product-detail {
//     display: flex;
//     background-color: white;
//     padding: 10px;

//     .infor {
//         align-content: center;
//     }



// }

.money {
    align-content: center;
    text-align: center;
}

thead {
    text-align: center;
}
// .ProductCartDetail{
//     float: right;
// }